## Ignore Visual Studio & VS Code Temporary Files
.vs/
.vscode/
Debug/
Release/
x64/
build/
out/

## Ignore Build Artifacts
*.exe
*.obj
*.o
*.ilk
*.pdb
*.log

## Ignore User-specific files
*.user
*.aps
*.suo